<VirtualHost *:80>

  DocumentRoot {{wp_dir}}
  ErrorLog /var/log/apache2/wp.vagrantbox-error.log
  CustomLog /var/log/apache2/wp.vagrantbox-access.log combined

  <Directory {{wp_dir}}>
    Options FollowSymLinks
    AllowOverride FileInfo
    Require all granted
  </Directory>

</VirtualHost>