tomcat_admin_user: TOMCAT_ADMIN
tomcat_admin_password: TOMCAT_ADMIN_PASS

ansible_python_interpreter: python2.7
ansible_ssh_user: SSH_USER

home_dir: /home/lfa
src_dir: "{{ home_dir }}/src"
virtual_envs: "{{ home_dir }}/.virtualenvs"

tomcat_dir: "{{ home_dir }}/webapps/ckan_tomcat"
tomcat_ip: 127.0.0.1
tomcat_port: TOMCAT_PORT

solr_url: http://{{tomcat_ip}}:{{tomcat_port}}/solr
solr_conf: "{{ tomcat_dir }}/conf/Catalina/localhost"

ckan_src: "{{src_dir}}/ckan"
ckan_env: "{{virtual_envs}}/ckan"
ckan_etc: "{{ home_dir }}/etc/ckan"
ckan_ini: "{{ ckan_etc }}/default/development.ini"
ckan_port: CKAN_PORT
ckan_url: CKAN_URL
ckan_licenses_url: URL_TO_LICENSES_JSON
ckan_favicon_url: http://192.168.33.10:8081/favicon.ico

supervisor_bin: "{{ ckan_env }}/bin"

datapusher_port: DATAPUSHER_PORT
datapusher_url: 0.0.0.0

wp_dir: "{{home_dir}}/webapps/wp"

email_server: SMTP_URL
email_account: ACCOUNT
email_user: USER
email_password: PASS

googleanalytics_id: UA-10101010-1
googleanalytics_account: ACCOUNT
googleanalytics_username: USER
googleanalytics_password: PASS

recaptcha_public_key: KEY
recaptcha_private_key: KEY
